.balanceValue{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.text{
    color: rgba(255, 255, 255, 0.4);     
    font-weight: 400;
}

.balance{
    background-color: #563EAF;
    padding: 8px 0px 11px 56px;
    
}

.balanceCount{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
}

.currency{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    background-color: #523B7E;
    gap: 15px;
    padding: 20px;
}

.homeLink{
    display: flex;
    
}

.link{
    display: flex;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    gap: 15px;

    
}
.homeImage,.statisticImage{
    
    display: block;
   
}

.sideBar{
    width: 480px;
    background: linear-gradient(to left, #352d79e0, #2e2177);
    display: block;
}

.table{
    background-color: rgb(86, 62, 175);
    width: 100%;
    padding: 10px;
}

.td{
    text-align: center;
    width: 33%;
    padding: 24px;
    color: white;
    font-weight: 400;
}

.tr{
    
}

.th{
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-weight: 600;
}