.statistic {
  background: linear-gradient(to bottom, #121177, #4b2067);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 32px 84px;
}

.list {
  position: absolute;  
  right: 30px;
  width: 395px;
  color: white;
}
.chartWrap {
  position: absolute;
  top: -20px;
  left: -80px;
}

.Name{
  color: white;
  font-weight: 400;
  font-size: 30px;
  
}

.boxColor{
  background-color: red;
  width: 24px;
}

.listLI{
  display: flex;
  justify-content: space-between;
  padding:16px 30px; 
  border-bottom:1px solid rgba(255, 255, 255, 0.082);
}

.liWrap{
  display: flex;
  gap: 16px
}

.total{ 
  color: white;
  position: absolute;
  right: 30px;
  top: 680px;
  width: 365px;
}

.totalWrapp{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.expense{
   color: rgb(255, 134, 141);
   display: flex; 
   gap: 235px;
}

.income{
  color: rgb(255, 182, 39);
  display: flex;
  padding-top: 10px;
  gap: 240px;
}

