.tableContainer {
    max-height: 100%; /* Set max height for scrolling */
    overflow-y: auto; /* Enable vertical scroll */
    width: 100%;
    margin-left: 25px;
}

.table {
    width: 100%;
    max-width: 1300px;
    color: white;
    text-align: left;
}

.Home {
    background: linear-gradient(to bottom, #121177, #4b2067);
    flex-grow: 1;
    padding: 46px;
}

.thead {
    color: white;
    background-color: #3c2c5d;
}

.th {
    padding: 16px;
}

.td {
    padding: 16px;
}

.trHead {
    border-radius: 10px;
}

.radiusLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.radiusRight {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.btnDelete {
    padding: 4px 12px;
    border-radius: 20px;
    color: white;
    display: block;
    background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%);
    margin-left: 8px;
}
