.thead{
    color: white;
    background-color: #3c2c5d; 
    
}

.table{
    width: 100%;
    
    color: white;
    
}

.Home{
    background: linear-gradient(to bottom,#121177, #4b2067);
    flex-grow: 1;
    padding: 46px;
}

.th{
    padding: 16px;
    
}

.tr{
    border-radius: 10px;
}

.radiusLeft{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}
.radiusRight{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}